html {
  background: #000;
  font-family: Helvetica;
  font-size: 15px;
  color: #fff;
}

ul {
  display: block;
  margin: 0 auto;
  padding: 0;
}

li {
  border-radius: 4px;
  margin-left:0px;
  border: 1px solid #282828;
  background: #484848;
  list-style-type: none;
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  line-height: 290px;
  -webkit-tap-highlight-color: #383838;
}

.answer {
  background: #484848 url(../img/answer.png) 50% 30% no-repeat;
  background-size: 100px 100px; 
}

.hangup {
  background: #484848 url(../img/hangup.png) 50% 30% no-repeat;
  background-size: 100px 100px; 
  display: none;
}

.decline {
  background: #484848 url(../img/decline.png) 50% 35% no-repeat;
  background-size: 80px 80px;
}

.hold {
  background: #484848 url(../img/hold.png) 50% 30% no-repeat;
  background-size: 100px 100px;
}

.resume {
  background: #484848 url(../img/play.png) 50% 30% no-repeat;
  background-size: 100px 100px;
  display: none;
}

.mute {
  background: #484848 url(../img/mute.png) 50% 30% no-repeat;
  background-size: 110px 110px;
}

.muted {
  background: #484848 url(../img/muted.png) 50% 30% no-repeat;
  background-size: 110px 110px;
}


@media only screen and (orientation:portrait){
  
  li {
    width: 186px;
    height: 186px;
}
